.dropdown-container {
    position: relative;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.options {
    background-color:white;
    color: #333;
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    padding: 0.1rem 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    height: 8rem;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 0.5rem;
    position: absolute;
}


.dropdown-input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    color: var(--input-color);
}

.arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    position: absolute;
    right: 0.7rem;
    top: 0.9rem;
}

.arrow.open {
    border-color: transparent;
}

.options div:hover {
    background-color: #c6d8ff;
    color: #333;
}

@media (min-width: 2000px){
    .dropdown-input{
        padding: 1rem;
        font-size: 1rem; 
        border-color: black;      
    }

    .options{
        font-size: xx-large;
        height: 20rem;
    }

    .arrow{
        border-color: transparent;
    }
}
