#tradepage-title{
    text-align: start;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);}

header {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 1.5rem;
    padding-left: 3rem;
    background: rgba(149, 168, 196, 0.507); 
    box-shadow: 0px 2px 4px lightgray;
  } 

.trade-page > main {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.trade-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem; 
    justify-content: start;
    margin: 0rem 1rem;
}
  

.trade-list{
    background-color: white;
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.151);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.trade-list > h4 {
    background-color: #0D2F62;
    padding: 0.8rem;
    color: white;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.trade-list p {
    text-align: left;
    padding-left: 0.5rem;
    margin: 0.3rem;
}

.sell, .buy {
    
    font-size: 1em;
    font-weight: 500;
    padding: 0.3rem 0.6rem;
    font-family: inherit;
    color: darkslategrey;
    transition: border-color 0.25s;
    border: none;
    width: 100%;
}

.sell {
    background-color: lightcoral;
}

.buy {
    background-color: rgba(164, 244, 164, 0.538);
}
  
.details {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8.5px 0;
}

.detail-item p {margin: 0;}

.delete-icon{margin-top: 0.3rem;}

.delete-icon:active {transform: translateY(3px);}

@media (max-width: 1000px){

    .trade-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}