.trade-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4rem;
    margin-top: 2rem;
    gap: 1rem;
}

.trade-list{
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem;
    text-align: center;
    padding: 0.5rem;
    width: 16%;
    height: 12rem;
    box-shadow: 1px 3px 8px 2px #719AD3;
}

.tradelist, p {
    text-align: start;
    padding-left: 0.5rem;
    margin: 0.3rem;
}