.filter-container{ 
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

.filter {
    border-radius: 3px;
    padding: 0.4rem;
    margin-right: 0.9rem;
    width: 12rem;
    font-size: 16px;
    color: rgb(104, 104, 104);
    background-color: rgb(240, 239, 239);
    box-shadow: 0px 0.1px 3px rgba(128, 128, 128, 0.708);
    border: none;
}