.form-container {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
    width: 100%;
}


.trade-form {
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 100%;
    margin: 0.5rem 0rem;
}


.trade-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 45%;
    /* padding: 0.5rem 2rem; */
    margin: 1rem 0;
    padding: 0 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.229);
    border-radius: 1rem;
    
}

.issue-fields{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1rem 0;
    padding: 0 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.229);
    border-radius: 1rem;
    /* background-color: yellow; */
}

.label-input-pair {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

#date {
    width: 100%;
}

label {
    font-weight: bold;
    color: #333;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    color: var(--input-color);
}

.grid-top{
    margin-top: 0.5rem
}

.calculator-links {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    margin-bottom: 1rem;
    text-align: center;
}

.calculator-links span {
    margin: 0.5rem;
}

#issue-name {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

#issue-name-input{
    color: #333;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    font-family: Arial;
}

.error {
    border-radius: 5px;
    padding: 0rem 0.4rem;
    color: red;
    text-align: end;
    font-size: small;
}

#note {
    color: darkblue;
    background-color: #76afff42;
    padding: 0.05rem 0.7rem;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    font-family: Arial;
}


#issue-description {
    min-height: 11rem;
    height: 100%;
    margin: 0.5rem 0rem;
    font-family: segoe UI;
    resize: none;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#form-title {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial;
    color: white;
    background-color: #0D2F62;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.calculator-links > a {
    font-size: 0.9rem;
    width: 100%;
    color: darkblue;
}


.issue-fields > button{
    color: white;
    background-color: var(--button-color1);
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 0.4rem;
    margin-left: 45%;
    margin-bottom: 0.5rem;
    border: none;
}


.trade-form button:active, .trade-fields a:active {
    transform: translateY(1px);
}

@media (min-width: 2000px){
    
    label {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    input, #date, #issue-description {
        padding: 1rem;
        font-size: 1rem;
        border-color: black;
    }

    #issue-name-input {
        width: 100%;
    }

    .calculator-links > a {
        font-size: 1.5rem;
    }
    .error {
        font-size: 2rem;
    }
    
    #note {
        font-size: x-large;        
    }

    #issue-description {
        font-size: x-large;
        height: 60%;
    }

    .issue-fields button {
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    
    #form-title {
        font-size: 2rem;
    }

    .trade-fields {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1600px) and (max-width: 2000px){
   
   label {
       font-weight: bold;
       font-size: 20px;
   }
   
   input {
       padding: 1rem;
       font-size: 15px;
   }

   .error {
       font-size: x-large;
   }
   
   #form-title {
       font-size: 1.5rem;
   }

   .calculator-links > a {
    font-size: 1.2rem;
   }
}

@media (min-width: 510px) and (max-width: 1500px) {
    
    .trade-form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    
    .trade-fields, .issue-fields{
        width: 90%;
        background-color: var(--tertiary-color);
        margin: 1rem;
        padding: 2rem;
    }

    .issue-fields {
        margin-top: 0;
    }

    #note {
        text-align: end;
        font-size: small;
    }

    .issue-fields > button {
        margin: 0;
        margin: 0rem 6rem;
        padding: 0.8rem;
    }

}

@media (max-width: 510px) {
    
    .trade-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .trade-fields, .issue-fields{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: none;
    }

    .calculator-links > a{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #issue-name {
        display: flex;
        flex-direction: column-reverse;
    }

    #note {
        text-align: end;
    }
}

