.form-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    margin: 3rem 0rem;
    border-radius: 1rem;
}

.trade-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trade-fields, .issue-fields {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;
    padding: 1rem 2rem;

}

input {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

label {
    font-weight: 350;
    padding-bottom: 0.5rem;
}

#issue-description {
    width: 100%;
    height: 100%
}
#form-title {
    font-weight: normal;
    margin-left: 2rem;
    margin-top: 1rem;
}