* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body, #root {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color1);
} 

:root {
  font-family: system-ui, Ariel, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #e2e7ed;
  --primary-color: #0D2F62;
  --secondary-color: #6d89b7;
  --tertiary-color: rgba(128, 128, 128, 0.119);
  --button-color1: #E5A00D;
  --button-color2: rgb(213, 215, 232);
  --input-color: rgb(113, 112, 112);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



