/* .analytics-page main{

} */
.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "winrate tradetype riskreward"
    "totaltrades profitline profitline";
    gap: 2rem;
    padding: 1rem;
    height: 100%;
}

.doughnut-chart { grid-area: winrate; }
.total-trades { grid-area: totaltrades; }
.pie-chart { grid-area: tradetype; }
.bar-chart { grid-area: riskreward; }
.line-chart { grid-area: profitline; }

.chart {
    background-color: white;
    border-radius: 0.3rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 1px 2px 6px 2px #6e7c8d;
}

.chart-title {
    color: var(--primary-color);
}


@media (min-width: 2560px){
    .chart-title{
        font-size: 60px;
    }

    .chart-container {
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "winrate tradetype riskreward"
        "totaltrades profitline profitline";
    }
}

@media (min-width: 768px) and (max-width: 1269px) {
    .chart-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "winrate tradetype"
            "riskreward totaltrades"
            "profitline profitline";
    }
}

@media (max-width: 767px) {
    .chart-container {
        grid-template-columns: minmax(300px, auto);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "winrate"
            "tradetype"
            "riskreward"
            "totaltrades"
            "profitline";
        gap: 0;
    }

    .chart{
        margin: 1rem;
    }

}