nav {
    grid-column: 1;
    background-color: var(--primary-color);
}


#navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navbar-link {
    color: black;
    font-size: large;
}

.navbar-link svg {
    color: var(--button-color2); 
    height: 18px;

  }


@media (min-width: 2560px){
    .navbar-link svg {
        height: 35px;
      }
}  

@media (max-width: 1440px){
    .navbar-link svg {
        height: 18px;
      }
}  

@media (max-width: 1000px){
   
    #navbar-links {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
    }

    .navbar-link svg {
        height: 15px;
      }

}