nav {
    position: absolute;
    left: 0;
}
#navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color:var(--nav-color);
    position: fixed;
    top: 0;
    padding: 2rem;
    box-shadow:  2px 0px 8px 0.5px var(--button-color);
}

.navbar-link {
    color: black;
    font-weight: 500;
    font-size: large;
}

#title {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', serif;
    margin: 1rem;
}