.widgets-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
}


.recent-trades, .recent-issues {
    display: inline-block;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1.5rem 2rem 0rem 2rem;
    box-shadow: 1px 3px 10px 3px var(--shadow-color);
    align-items: center;
    height: 11.55rem;
}


.recent-trade, .recent-issue {
    margin: 0.3rem 0rem 0.3rem 2rem;
    padding: 0.3rem 3rem;
    align-items: center;
    font-size: large;
    font-weight: 400;
    color: rgb(91, 82, 82);
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.119);
    width: 90%;
}

.recent-trade:hover, .recent-issue:hover {
    background-color: #76afff42;
    border-radius: 2px;
}

.recent-trade:active, .recent-issue:active {
    transform: translateY(2px);
}
.widget-title {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: var(--button-color);
    margin: 0.2rem;
}

.icon {
    display: inline-flex;
    justify-content: center;
    padding-left: 5rem;
}

li > p {
    display: inline-flex;
    width: 80%;
    justify-content:flex-start;
    padding-left: 6rem;
    /* border: 1px solid blue; */
}

.unavailable-display {
    color: gray;
    font-size: 1rem;      
    font-style: italic;   
    text-align: center;   
    margin-top: 40px; 
}