.recent-trades, .recent-issues {
    width: 90%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}


.recent-trade, .recent-issue {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    font-weight: 400;
    color: rgb(91, 82, 82);
    background-color: rgba(128, 128, 128, 0.119);
    padding: 0.5rem 1rem; 
    border-radius: 0.3rem;
}

.recent-issue-list, .recent-trade-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
}

.recent-trade:hover, .recent-issue:hover {
    background-color: #76afff42;
}

.recent-trade:active, .recent-issue:active {
    transform: translateY(2px);
}

.widget-title {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial;
    color: white;
    background-color: #0D2F62;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.icon {
    display: inline-flex;
    justify-content: center;
    margin: 0rem 1.5rem;
}

.unavailable-display {
    color: gray;
    font-size: 1rem;      
    font-style: italic;   
    text-align: center;   
    padding: 4rem; 
}

@media (min-width: 2560px){

    .recent-trades, .recent-issues {
        flex-direction: column;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.203);
    }
    
    
    .recent-trade, .recent-issue {
        font-size: 30px;
        font-weight: 600;
        color: rgb(91, 82, 82);
    }
    
    .recent-issue-list, .recent-trade-list {
        gap: 1rem;
        margin: 1.5rem;
    }
    
    .recent-trade:active, .recent-issue:active {
        transform: translateY(2px);
    }
    
    .widget-title {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: Arial;
        color: white;
        background-color: #0D2F62;
        padding: 1rem;
        padding-left: 2rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
    
    .icon {
        display: inline-flex;
        justify-content: center;
        margin: 0rem 1.5rem;
    }
    
    .unavailable-display {
        color: gray;
        font-size: 1rem;      
        font-style: italic;   
        text-align: center;   
        padding: 4rem; 
    }
    
}

@media (max-width: 920px) {

.widgets-container {
    display: flex;
    flex-direction: column;    
}

.recent-trades, .recent-issues {
    width: 100%;
}

.recent-trade, .recent-issue {
    font-size: 14px;
}

.widget-title {
    font-size: 1.1rem;
}
}

@media (max-width: 719px){
    .recent-trades {
        display: flex;
        flex-direction: column;
    }

    .recent-issue, .recent-trade {
        text-align: end;
    }

}
